<div class="w-full flex flex-col gap-[40px]">
  <div class="w-full flex flex-col gap-[16px] justify-center items-center">
    <app-desktop-h1>{{ pricing?.header }}</app-desktop-h1>
    <div class="max-w-[400px] text-center line-clamp-3">
      <app-text-body>{{ pricing?.subheader }}</app-text-body>
    </div>
  </div>
  <div class="flex gap-[25px] justify-center items-center">
    <app-pricing-card
      *ngFor="let card of pricing?.cards"
      [card]="card"
    ></app-pricing-card>
  </div>
  <div></div>
</div>
