<div class="flex flex-col gap-[170px]">
  <div></div>
  <app-hero
    [header]="header"
    [image]="image.formats.large.url"
    [subheader]="subheader"
    [loading]="loading"
  ></app-hero>
  <app-technologies [technologies]="technologies"></app-technologies>
  <app-portfolio [portfolio]="portfolio"></app-portfolio>
</div>
<div class="mb-[170px]"></div>
<app-feedback [feedback]="feedback"></app-feedback>
<div class="mb-[170px]"></div>
<div class="flex flex-col gap-[170px]">
  <app-home-contact-us [contactUs]="contactUs"></app-home-contact-us>
  <app-blog-preview
    [blogPreview]="blogPreview"
    [blogPreviewTitles]="blogPreviewTitles"
  ></app-blog-preview>
  <div></div>
</div>
